
<div class="sidebar">
  <ul>
    <li>
        <a href="<%= users_path %>"> 
         <span class="icon"><i class="fas fa-user"></i></span>
         <span class="item">Profile</span>
        </a>
    </li>
     <li>
        <a href="<%=  %>"> 
         <span class="icon"><i class="fas fa-user"></i></span>
         <span class="item">Home</span>
        </a>
    </li>
  </ul>
</div>
